body {
    background-color: #F8FAFC;
}

input {
    height: 2em;
    padding: 0.25em 1em;
}


.content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.grid {
    margin-top: 2rem;
    display: block;
    white-space: nowrap;
}

.row {
    display: block;
    height:30px;
}

.square {
    width: 30px;
    height: 30px;
    outline: 1px solid #213869;
    background-color: #FFFFFF;
    display: inline-block;
}

.square-selected {
    background-color: #3F66B9;
}

.error-text {
    font-size: 0.75em;
    color: red;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.button-primary {
    margin: 1rem;
    padding: 1em 2em;
    border-radius: 4px;
    border: 1px solid #213869;
    color: #213869;
}

.button-primary:hover {
    background-color: #213869;
    color: #FFFFFF;
}